<div class="Article">
         
    <h2 data-testid="title">Article</h2>
    <div class="Article_separator" data-testid="separator"></div>
    
<div class="Article_items">
    <button class="Article_items-btn right" data-testid="btn" (click)="handleClickPrevious()">&lt;</button>
    <button class="Article_items-btn left" data-testid="btn" (click)="handleClickNext()">&gt;</button>
    <div class="Article_items-elt" id="carrousel">
    <div *ngFor="let item of data" class="Article_items-elt-item">
            <img [src]="item.thumbnail" [alt]="item.title" class="Article_items-img"/>
            <a [href]="item.link" target="_blank">{{item.title}}</a>
    </div>
    <a href="https://guillaumedaavid.medium.com/" target="_blank">Voir Plus</a>
    </div>
</div>

   <!---  <app-article-items *ngFor="let elements of article$ | async" ></app-article-items> -->
</div>