<section id="home">
    <div class="Header">

    <nav *ngIf="this.nav" class="Header_nav nav_visible" data-testid="nav">
            <ul>
            <li data-testid="li"><a href="#home" (click)="handleClick()"><span>Accueil</span></a></li>
            <li data-testid="li"><a href="#portfolio" (click)="handleClick()"><span>Portfolio</span></a></li>
            <li data-testid="li"><a href="#contact" (click)="handleClick()"><span>Contact</span></a></li>
            <li data-testid="li"><a href="/blog" (click)="handleClick()"><span>Blog</span></a></li>
            </ul>
            <a href="#" class="cd-close-menu" (click)="handleClick()" data-testid="closeNav">Close<span></span></a>
        </nav>

        <p class="cd-menu-trigger" (click)="handleClick()" data-testid="burger-menu"><span></span></p>
        <h1 class="Header_title" data-testid="title">GUILLAUME DAVID</h1>

        <div class="Header_separator-white"></div>

        <h2 class="Header_description" data-testid="subTitle">Développeur Front End / Javascript / React</h2>


        <a class="mouse-scroll" href="#introduction" data-testid="scroll">
                    <span class="mouse">
                        <span class="mouse-movement"></span>
                    </span>
                    <span class="mouse-message fadeIn">scroll</span>
        </a>
    </div>
    </section>