<section id="portfolio">
    <div class="Portfolio">
   
        <h2 class="Protfolio_title" data-testid="title">MON PORTFOLIO</h2>

        <div class="Portfolio_separator" data-testid="separator"></div>
        

        <ul class="Portfolio_btn">
            <li class="notSelected" (click)="PortfolioService.changeCategory('all')">ALL</li>
            <li class="notSelected" (click)="PortfolioService.changeCategory('front')">FRONT END</li>
            <li class="notSelected" (click)="PortfolioService.changeCategory('full')">FULL STACK</li>
            <li class="notSelected" (click)="PortfolioService.changeCategory('mobile')">MOBILE</li>
        </ul>
        <div class="Portfolio_items">

            <app-portfolio-items *ngFor="let elements of portfolio" [portfolio]="elements"></app-portfolio-items>

        </div>

        <a href='/portfolio' class='btn_link'><button class='btn btn_contact'>En voir plus</button></a>
    </div>
    </section>