<section id="portfolio">
    <div className="Portfolio">
   
        <h2 className="Protfolio_title" data-testid="title">MON PORTFOLIO</h2>

        <div className="Portfolio_separator" data-testid="separator"></div>
        

        <ul className="Portfolio_btn">
            <li className="notSelected">ALL</li>
            <li className="notSelected">FRONT END</li>
            <li className="notSelected">FULL STACK</li>
            <li className="notSelected">MOBILE</li>
        </ul>
        <div className="Portfolio_items">

        </div>

        <a href='/portfolio' className='btn_link'><button className='btn btn_contact'>En voir plus</button></a>
    </div>
    </section>